BASE_URL=https://opensource-demo.orangehrmlive.com
API_URL=https://opensource-demo.orangehrmlive.com
ADMIN_USERNAME=Admin
ADMIN_PASSWORD=admin123
GITHUB_TOKEN=<YOUR_PERSONAL_ACCESS_TOKEN>
ENV=staging
CI=false
SLACK_WEBHOOK=https://hooks.slack.com/services/REPLACE_ME
